<div class="container">
  <div class="page-header">
    <h1>About Me</h1>
  </div>
  <div class="container">
    <p><%= image_tag("profile.jpg", class: "img-thumbnail", size: 200, align: "left", alt: "Picture of me")%>
    I make a living by testing software for a major electronic medical record company. I spend my free time taking pictures of music and the outdoors, working on cars, and learning about new technology with a focus on automation and efficiency. You can read about the projects I take on, and how I do them on this site.</p>
    <br>
    <p>I received my degree in Civil Engineering in 2013, but during my undergraduate curriculum I spent a year studying augmented reality and depth based sensors. This led to a new found interest in programming that continued through my first two years working in New Jersey for a consulting engineering firm. Consistent practice through online tutorials, coding challenge sites, and constant reading allowed me to reset my career in the software industry. I am currently working towards making up for lost time by taking classes towards a Professional Capstone Certificate in Computer Science through University of Wisconsin - Madison.</p>
    <br>
    <p>My first free time passion is photography, specifically of music. Music allows the expression of truly deep emotions through lyrics and stories portrayed by stage personalities that are completely unique between individuals. Capturing these feelings and moments on camera is challenging, but the most rewarding. I started taking "real" photos in 2009 when I joined my university's student news paper. I quickly took many assignments leading to personal connections with comedians, which afforded me the opportunity to take photos at many comedy shows throughout NYC. At the same time I gained enough experience and skill to be able to start doing photos for what I really cared about: concerts. Throughout the years, I have been lucky enough to be in the photo pit for O.A.R. several times, Anberlin, Citizen Cope, and many other well known bands.</p>
    <br>
    <p>In 2010 I received my first car, a 2000 Nissan XTerra, from my Dad. The car was in excellent condition thanks to his dilligent maintenance. Despite the excellent condition I wanted to make it better and tie my love of technology into it. My first project put an iPod dock in the console and seamlessly connected it to the existing audio system. Through the years I installed an upgraded head unit among other things, until I had to get a new SUV in 2014. My second car was the closest I could get to my dream of a Jeep Wrangler at the time, a 2005 Jeep Grand Cherokee (WK). This car allowed my love for the Jeep brand to grow and take a further dive into mechanic work. Shortly after I learned about one of the American icons, the Jeep Grand Wagoneer, and I had to have it. In 2016 I bought a 1988 Jeep Grand Wagoneer, which I am currently restoring (read: keeping running), which will be the subject of many of my car related posts.</p>
    <br>
    <p><a class="btn btn-primary btn-md" href="/contact" role="button">Contact Me &raquo;</a>
    <!--<a class="btn btn-primary btn-md" href="#" role="button">Check out my resume &raquo;</a></p>-->
  </div>
</div>
