<div class="jumbotron">
  <div class="container">
    <br><br><br><br><br><br><br><br>
    <h1 style="color: #FFFFFF; text-align: right">Hi, I'm Kyle</h1>
    <p style="color: #FFFFFF; text-align: right"><em>programmer // photographer // jeep lover</em>
    <a class="btn btn-success btn-lg" href="/about" role="button">More About Me &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @latestPosts.each do |category, post| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title"><%= category %> Updates</h2>
          </div>
          <div class="panel-body">
            <% if post!=nil %>
              <h4><%= post.name %></h4>
              <p><%= truncate(post.body) %></p>
              <%= link_to "View more &raquo;".html_safe, posts_path(:category => category), class: "btn btn-primary" %>
            <% else %>
              <h4>Coming Soon!</h4>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
