<br>
<div class="container">
  <% if !@posts.empty? %>
    <% @posts.each do |post| %>
      <div class="well">
        <h3><%= post.name %></h3>
        <hr>
        <p><%= post.body %></p>
      </div>
    <% end %>
  <% else %>
    <h3>Posts Coming Soon!</h3>
  <% end %>
</div>
